.image-google {
  display: block;
  margin-left: 100px;
  margin-bottom: 10px;
}
.input-google {
  border: none;
  border-radius: 17px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 16px;
  box-shadow: 0 0 2px;
}